.mobile
{
    display: none;
}
.employee
{
    width: 95%;
    margin-inline: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 5px orange;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}


.employee > *
{
  width: 14%;
  text-align: left;
}

.header
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2.5%;
    margin-bottom: 55px;
}

.header > h1
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 22px;
}



.header > div > button
{
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 20px;
}

.header > div
{
    width: 95%;
    margin-inline-end: 2.5%;
    position: relative;
    display: flex;
   align-items: center;
}
.searchbar
{
    position: absolute;
    right: 0;
    display: flex;
    gap: 0px;
    border: 1px solid #212121;
    border-radius: 5px;
    width: 342px;
    height: 38px;

}
.searchbar > input
{
    align-self: center;
    width: 296px;
    height: 30px;
    border: none;
    background-color: transparent;
}
.searchbar > button
{
    width: 46px;
    height: 38px;
    border: none;
    background-color: transparent;
    border-left: 1px solid #212121;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar > button:hover
{
   cursor: pointer;
}
.archive
{
    cursor: pointer;
    border:transparent;
    background-color: transparent;
    text-decoration: underline;
    margin-block: 25px;
    margin-left: 25px;
    display: flex;
    align-items: center;
}
.archive > *
{
  padding-inline-end: 1em;
}

.circleOne
{
    height: 20px;
    width: 20px;
    border: 3px solid orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleTwo
{
    height: 15px;
    width: 15px;
    background-color: orange;
    border-radius: 50%;
}

.buttonText
{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
padding-inline: 7px;
}

.closeButton
{
   cursor: pointer;
   background-color: transparent;
   border: transparent;
}
.closeButton:hover
{
   cursor: pointer;
}

/***************************************************
mobile view
*****************************************************/

@media screen and  (max-width: 600px){

    .mobile
    {
        display: contents;
    }

    .desktop
    {
        display: none;
    }

    * {
        box-sizing: border-box;
      }
    .header > h1
    {
        background-color: orange;
        height: 55px;
        padding-block: 0.75em;
        width: 100%;
        display: flex;
        align-items: center;
        padding-inline-start: 24px;
    }
    .header
    {
        padding: 0;
        margin: 0;
    }
    .employeesDisplay
    {
        padding: 0;
        margin: 0;
    }
   
    .headerInteractables
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .headerInteractables > button
    {
        align-self: flex-start;
        margin-left: 25px;
        /* margin-block-end: 5em; */
    }
    .headerInteractables > .searchbar
    {
        margin-block-start: 1em;
    }

    .searchbar
    {
        width: 90%;
        margin: 0;
        padding: 0;
        position: relative;
        margin-bottom: 32px;
    }
    .searchbar > input
    {
        width: 80%;
    }
    .searchbar > button
    {
        width: 20%;
    }
    .circleOne
{
    height: 20px;
    width: 20px;
    border: 3px solid orange;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleTwo
{
    height: 12px;
    width: 12px;
    background-color: orange;
    border-radius: 50%;
}
.backText
{
    margin-inline-start: 2.5%;   
    margin-top: 40px;
}

.searchbar > input
{
    height: 36px;
}

}