.detailSection {
    color: #212121;
    padding-inline: 5%;
}
.row {
    display: flex;
    align-items: center;
}

.headerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 0.4rem;
}

.headerRow h1 {
    margin: 0;
}

.backBtn {
    margin-inline-start: 4px;

}

.contentBlock {
    margin-block: 1rem;
    padding-inline-start: 0.6rem;
}

.contentBlock > p {
    margin-block: 0.2rem;
}

.contentBlock li {
    list-style-type: none;
}

.contentBlock ul {
    padding: 0;
}

.nameBlock {
    margin-block: 0;
}

.nameBlock p {
    margin-block: 0.2rem;
}

ol {
    margin-block: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nameInput {
    font-weight: 700;
    font-size: 24px;
}

.saveBtn {
    display: block;
    width: 100%;
    padding-block: 8px;
    margin-block: 8px;
    border-radius: 5px;
    background-color: #9BC53D;
    border: 1px solid #212121;
}

.cancelBtn {
    text-decoration: underline;
    border: none;
    background: none;
    margin-block-start: 1rem;
    text-align: start;
    margin-inline-start: 0.8rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.editBtn {
    border: none;
    background: none;
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.contentContainer {
    margin-inline-start: 5%;
}

.phoneContainer {
    display: flex;
}

.phoneContainer select {
    margin-inline-end: 12px;
}

.phoneInput {
    flex: 1;
}

fieldset {
    border: none;
}

input, select {
    margin-block: 6px;
    padding-block: 4px;
}

.addressInput {
    width: 100%;
}

.addressForm select {
    margin-inline-start: 12px;
}

.locationRow {
    display: flex;
}

.locationRow > * {
    width: 50%;
}

.addressCancelBtn {
    text-decoration: underline;
    border: none;
    background: none;
}

.blockSubContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.scrollRow {
    display: flex;
    justify-content: flex-end;
}

.toTopBtn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.toTopBtn img {
    margin-inline-end: 0.5rem;
}