* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modalArea {
    background-color: #FDFDFD;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
    padding: 3%;
    min-width: 1000px;
    position: absolute;
    top: 2%;
    left: 25%;
    z-index: 2;
}
.storeSection {
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
}

.backBtn {
    margin-inline-start: 4px;
}

.backRow {
    display: flex;
    align-items: center;
}

.nameRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8rem;
}

.nameSubHeadings {
    text-align: start;
    margin-inline-start: 0.5rem;
}

.nameBlock {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
}

.contentBlock {
    margin-block-end: 1rem;
}

.contentBlock > div {
    display: flex;
    justify-content: space-between;
}

.contentBlock p {
    margin-inline-start: 0.5rem;
    margin-block: 0.5rem;
}

.scrollRow {
    display: flex;
    justify-content: flex-end;
}

.toTopBtn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.toTopBtn img {
    margin-inline-end: 0.5rem;
}

.mainContent {
    display: flex;
    gap: 6rem;
}

.contentColumn {
    display: flex;
    flex-direction: column;
}

.closeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}