* {
    box-sizing: border-box;
}

.overhead {
    position: relative;
}

.salesPage {
    padding-inline: 5%;
}

.desktopHeader {
    display: none;
}

/* If in mobile view, render default styling */
.desktopContainer {
    display: block;
}

/* Desktop View */
@media (min-width: 999px) {
    .desktopHeader {
        display: flex;
        justify-content: flex-start;
    }

    .nameHeading {
        padding-inline-start: 6%;
    }
    
    .phoneHeading {
        padding-inline-start: 10%;
    }

    .idHeading {
        padding-inline-start: 10.5%;
    }

    .contactHeading {
        padding-inline-start: 8%;
    }

    .emailHeading {
        padding-inline-start: 9%;
    }

    .optionsHeading {
        padding-inline-start: 4.5%;
    }

}