* {
    box-sizing: border-box;
}

@media (min-width: 999px) {
    .desktopHeader {
        display: flex;
        justify-content: space-between;
    }

    .desktopHeader > h3 {
        width: 14rem;
        margin-inline-start: 6rem;
        display: flex;
    }
}