.purchaseBlock {
    border-block-end: 3px solid #9BC53D;
    display: flex;
    justify-content: space-between;
    margin-inline: 5%;
    margin-block: 1rem;
    padding-block-end: 1rem;
    color: #212121;
}

.purchaseLink {
    text-decoration: none;
}

.productName {
    
}