.mobile {
    display: none;
}
.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*************************************************
modal css
***************************************************/
.modal
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FDFDFD;
  border: transparent;
  /* min-width: 821px;
  min-height: 494px; */
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}
.modal > button
{
  position: absolute;
  top: 2%;
  right: 2%;
}

.modalHeaderMobile{
  display: none;
}

@media screen and (max-width: 600px){
  .modal
  {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .modalHeaderMobile{
    display: contents;
  }
}

.routeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 999px) { 
  .routeContainer {
    margin-inline-start: 50px;
  }
}